.vscode
node_modules
package-lock.json
bin
include
lib
share
__pycache__
pip-selfcheck.json
experiments*
*.pyc
*.log
*.out
/scripts/*.txt
/scripts/*.json
/scripts/*.csv
/scripts/*.pdf
/src/*.json
/src/*.txt
/src/*.csv
*.tar.gz
/src/venv
/src/python3.6